### Load From String

In [4]:
import json
json_str = '''
{"menu": {
  "id": "file",
  "value": "File",
  "popup": {
    "menuitem": [
      {"value": "New", "onclick": "CreateNewDoc()"},
      {"value": "Open", "onclick": "OpenDoc()"},
      {"value": "Close", "onclick": "CloseDoc()"}
    ]
  }
}}
'''
dic = json.loads(json_str)
dic['menu']

{'id': 'file',
 'value': 'File',
 'popup': {'menuitem': [{'value': 'New', 'onclick': 'CreateNewDoc()'},
   {'value': 'Open', 'onclick': 'OpenDoc()'},
   {'value': 'Close', 'onclick': 'CloseDoc()'}]}}

### Load From File

In [36]:
with open('data/json/widget.json', 'r') as js:
    display(json.loads(js.read()))

{'widget': {'debug': 'on',
  'window': {'title': 'Sample Konfabulator Widget',
   'name': 'main_window',
   'width': 500,
   'height': 500},
  'image': {'src': 'Images/Sun.png',
   'name': 'sun1',
   'hOffset': 250,
   'vOffset': 250,
   'alignment': 'center'},
  'text': {'data': 'Click Here',
   'size': 36,
   'style': 'bold',
   'name': 'text1',
   'hOffset': 250,
   'vOffset': 100,
   'alignment': 'center',
   'onMouseUp': 'sun1.opacity = (sun1.opacity / 100) * 90;'}}}

### JSON Dump

In [39]:
import numpy as np
import json
import sys

convert_int = np.vectorize(int)

def encode_complex(val):
    if isinstance(val, np.int64):
        return int(val)
    return str(type(val))

incomes = {
    'name': ['ram', 'sita', 'hari', 'krishna', 'sabin'],
    'age': list(convert_int(np.random.randint(16, 25, (5)))),
    'income': list(convert_int(np.random.randint(0, 8, (5))*500 + 40000))
}

with open('data/json/incomes.json', 'w') as js:
    json.dump(incomes, js , default=encode_complex)

### JSON File to DataFrame
- Assumes array in each json key
- json key -> column name; arry ->column values

In [40]:
import pandas as pd
pd.read_json('data/json/incomes.json')

      name  age  income
0      ram   22   41500
1     sita   19   40500
2     hari   19   40000
3  krishna   24   41500
4    sabin   16   42500

### DataFrame to Json

In [44]:
df_incomes = pd.read_json('data/json/incomes.json')
df_incomes.to_json(sys.stdout)
sys.stdout.write('\n\n')
df_incomes.to_json(sys.stdout, orient='records')

{"name":{"0":"ram","1":"sita","2":"hari","3":"krishna","4":"sabin"},"age":{"0":22,"1":19,"2":19,"3":24,"4":16},"income":{"0":41500,"1":40500,"2":40000,"3":41500,"4":42500}}

[{"name":"ram","age":22,"income":41500},{"name":"sita","age":19,"income":40500},{"name":"hari","age":19,"income":40000},{"name":"krishna","age":24,"income":41500},{"name":"sabin","age":16,"income":42500}]

### Series to Json

In [47]:
series = pd.Series(np.random.randint(0,100, (5)), index=list('abcde') )
series.to_json(sys.stdout)

{"a":47,"b":15,"c":27,"d":46,"e":66}