In [9]:
from pandas import Series, DataFrame
customers = {
    'name':['Tom', 'Bob', 'Alice', 'Jhonathan', 'Rihan'],
    'visits_last_month': [0, 1, 10, 4, 3],
    'orders_last_month': [0, 5, 0, 2, 6],
    'total_orders': [50, 80, 25, 27, 18]
}

Tom           0
Bob           1
Alice        10
Jhonathan     4
Rihan         3
dtype: int64
Alice        10.0
Bob           1.0
Elsa          NaN
Jhonathan     4.0
Rihan         3.0
Tom           0.0
dtype: float64

### Reindex Series

In [18]:
visits_last_month = Series(customers['visits_last_month'], customers['name'])

print('Before reindexing\n', visits_last_month, '\n\n')

visits_last_month2 = visits_last_month.reindex(['Alice', 'Bob', 'Elsa' , 'Jhonathan', 'Rihan', 'Tom'])
print('After reindexing, reordered and added Elsa\n', visits_last_month2, '\n\n')

visits_last_month3 = visits_last_month2.reindex(['Alice', 'Bob', 'Elsa' , 'Jhonathan', 'Peter', 'Rihan', 'Tom']
                                                , method='ffill')
print('Reindexing with forward fill "ffill". "peter added"\n', visits_last_month3)
## forwared fill needs index to be monotonous ie either increasing or decreasing

visits_last_month.index.sort_values()

Before reindexing
 Tom           0
Bob           1
Alice        10
Jhonathan     4
Rihan         3
dtype: int64


After reindexing, reordered and added Elsa
 Alice        10.0
Bob           1.0
Elsa          NaN
Jhonathan     4.0
Rihan         3.0
Tom           0.0
dtype: float64


Reindexing with forward fill "ffil". "peter added"
 Alice        10.0
Bob           1.0
Elsa          NaN
Jhonathan     4.0
Peter         4.0
Rihan         3.0
Tom           0.0
dtype: float64

Index(['Alice', 'Bob', 'Jhonathan', 'Rihan', 'Tom'], dtype='object')

### Dataframe Reindexing

In [63]:
df_customers = DataFrame(customers, customers['name'])
df_customers.index = df_customers.index.sort_values()
df_customers.columns = df_customers.columns.sort_values()
print(df_customers, '\n\n')
print('Fill from index next to new index')
df_customers2 = df_customers.reindex(['Alice', 'Bob', 'Elsa',  'Jhonathan', 'Peter' , 'Rihan', 'Tom'],  method='bfill')
df_customers2 = df_customers2.reindex(columns=['visits_last_month', 'orders_last_month', 'friends'])
print(df_customers2)

                name  orders_last_month  total_orders  visits_last_month
Alice            Tom                  0             0                 50
Bob              Bob                  1             5                 80
Jhonathan      Alice                 10             0                 25
Rihan      Jhonathan                  4             2                 27
Tom            Rihan                  3             6                 18


Fill from index next to new index
           visits_last_month  orders_last_month  friends
Alice                     50                  0      NaN
Bob                       80                  1      NaN
Elsa                      25                 10      NaN
Jhonathan                 25                 10      NaN
Peter                     27                  4      NaN
Rihan                     27                  4      NaN
Tom                       18                  3      NaN

### Reindexing Short Cut (Deprecated)

In [59]:
df_customers.loc[['Alice', 'Bob', 'Elsa',  'Jhonathan', 'Peter' , 'Rihan', 'Tom'], 
                 ['visits_last_month', 'orders_last_month', 'friends']]

/Users/devbhadurkhadka/.pyenv/versions/anaconda3-5.2.0/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

           visits_last_month  orders_last_month  friends
Alice                   50.0                0.0      NaN
Bob                     80.0                1.0      NaN
Elsa                     NaN                NaN      NaN
Jhonathan               25.0               10.0      NaN
Peter                    NaN                NaN      NaN
Rihan                   27.0                4.0      NaN
Tom                     18.0                3.0      NaN

### Droping Axies

In [68]:
print(df_customers2)
df_customers3 = df_customers2.drop(['Elsa', 'Alice'])
df_customers3.drop('friends', axis=1, inplace=True)

           visits_last_month  orders_last_month  friends
Alice                     50                  0      NaN
Bob                       80                  1      NaN
Elsa                      25                 10      NaN
Jhonathan                 25                 10      NaN
Peter                     27                  4      NaN
Rihan                     27                  4      NaN
Tom                       18                  3      NaN