In [5]:
import pandas as pd
pd.read_html("http://nmbbanknepal.com/forex")[0]

,Currency,Unit,Buying (Notes of Deno 50 and above),Buying (Notes of below Deno 50),Selling/Rs.
0,Indian Rupee,1,1.60,1.60,1.6015
1,US Dollar,1,113.65,113.08,114.2500
2,Euro,1,128.23,127.59,129.2500
3,Pound Sterling,1,146.44,145.71,147.6000
4,Swiss Franc,1,112.92,112.36,113.6400
5,Australian Dollar,1,81.31,80.90,82.3600
6,Canadian Dollar,1,85.72,85.29,86.2100
7,Singapore Dollar,1,83.63,83.21,84.1900
8,Japanese Yen,10,10.26,10.21,10.3600
9,Swedish Kroner,1,12.19,12.13,12.3200
10,Danish Kroner,1,17.15,17.06,17.3400
11,Hongkong Dollar,1,14.41,14.34,14.4900
12,Thai Baht,1,3.61,3.59,3.6500
13,UAE DIRHAM,1,30.94,30.79,31.1000
14,Malaysian Ringgit,1,27.79,27.65,28.0200
15,Saudi Riyal,1,30.25,30.10,30.4600
16,Qatari Riyal,1,31.18,31.02,31.6800
17,Chinese Yuan,1,16.66,16.58,16.9600
18,S. Korean Won,100,10.01,9.96,10.1400
19,Kuwati Dinar,1,370.92,369.07,375.8200
20,Bahrain Dinar,1,299.47,297.97,303.0300

In [3]:
pd.read_html?