### Datetime

In [1]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2019, 4, 4, 22, 2, 3, 349441)

In [2]:
now.year, now.month, now.day

(2019, 4, 4)

### Time Delta

In [3]:
delta = now - datetime(2019,1,1)
delta

datetime.timedelta(93, 79323, 349441)

In [4]:
delta.days, delta.seconds, delta.microseconds

(93, 79323, 349441)

### Datetime Format

In [5]:
stamp=datetime(2012,10,20)
str(stamp)

'2012-10-20 00:00:00'

In [6]:
stamp.strftime("%Y-%m-%d")

'2012-10-20'

In [7]:
stamp.strftime("Year:%Y, Year:%y, month:%m, day:%d, 24Hr: %H, 12Hr:%I \
               , Minute:%M, Seconds:%S, Weekday:%W, week of year:%U, %z")

'Year:2012, Year:12, month:10, day:20, 24Hr: 00, 12Hr:12                , Minute:00, Seconds:00, Weekday:42, week of year:42, '

### Parse Date

In [8]:
datetime.strptime("16-08-05", "%y-%m-%d")

datetime.datetime(2016, 8, 5, 0, 0)

### Dateutil
- Dateutil package is installed when installing pandas

In [9]:
from dateutil.parser import parse
## this parser can parse most common human readable date format
parse("18-03-2005").strftime("%Y-%m-%d")

'2005-03-18'

### Ambigious day and month

In [10]:
parse("8-03-2005")

datetime.datetime(2005, 8, 3, 0, 0)

In [11]:
parse("8-03-2005", dayfirst=True)

datetime.datetime(2005, 3, 8, 0, 0)

### Pandas Datetime Parser

In [12]:
import numpy as np
import pandas as pd

years = pd.Series(np.random.choice(["2016", "2017", "2018"], 50))
vectorize_str = np.vectorize(str)
months = pd.Series(vectorize_str(np.random.choice(range(1,13), 50)))
days = pd.Series(vectorize_str(np.random.choice(range(1,29), 50)))
dates = years+"-"+months+"-"+days


dates = pd.to_datetime(dates)

dates.head()

0   2018-07-21
1   2016-11-16
2   2017-08-25
3   2018-09-01
4   2017-08-28
dtype: datetime64[ns]

### Timeseries Arithmetics

In [13]:
positives = pd.Series(range(50), index=dates).sort_index()
negetives = -pd.Series(range(50), index=dates).sort_index()
total = positives+negetives
total.head()

2016-01-27    0
2016-02-10    0
2016-02-16    0
2016-02-23    0
2016-03-26    0
dtype: int64

In [17]:
positives['2016-03-26']

48

In [18]:
positives['2018-08']

Series([], dtype: int64)

In [19]:
positives['2018']

2018-01-02    12
2018-02-03    31
2018-02-09    45
2018-02-22    27
2018-02-28    21
2018-05-11    23
2018-05-21    37
2018-06-22    11
2018-06-25    44
2018-07-20    40
2018-07-21     0
2018-09-01     3
2018-09-13     6
2018-09-19    10
2018-09-25    33
2018-11-19    32
2018-11-26    39
2018-12-18    17
dtype: int64

In [20]:
positives["2016":"2017"]

2016-01-27     9
2016-02-10    35
2016-02-16    18
2016-02-23    15
2016-03-26    48
2016-05-01    14
2016-05-10    49
2016-05-12    43
2016-05-13    41
2016-06-18    26
2016-06-20    36
2016-09-17     7
2016-09-21    29
2016-11-06    22
2016-11-16     1
2016-11-24    38
2017-01-01    46
2017-01-09    25
2017-01-19    47
2017-03-19    42
2017-04-20    34
2017-06-17    30
2017-07-11     8
2017-07-23     5
2017-08-25     2
2017-08-28     4
2017-09-01    28
2017-09-15    16
2017-09-20    13
2017-10-02    20
2017-11-02    19
2017-11-22    24
dtype: int64

In [21]:
positives.truncate(before="2016-05-25", after="2017-04-10"  )

2016-06-18    26
2016-06-20    36
2016-09-17     7
2016-09-21    29
2016-11-06    22
2016-11-16     1
2016-11-24    38
2017-01-01    46
2017-01-09    25
2017-01-19    47
2017-03-19    42
dtype: int64

### Daterange

In [22]:
pd.date_range("2019-01-01", "2019-06-30", freq="W-WED") ## Weekly on wednesday

DatetimeIndex(['2019-01-02', '2019-01-09', '2019-01-16', '2019-01-23',
               '2019-01-30', '2019-02-06', '2019-02-13', '2019-02-20',
               '2019-02-27', '2019-03-06', '2019-03-13', '2019-03-20',
               '2019-03-27', '2019-04-03', '2019-04-10', '2019-04-17',
               '2019-04-24', '2019-05-01', '2019-05-08', '2019-05-15',
               '2019-05-22', '2019-05-29', '2019-06-05', '2019-06-12',
               '2019-06-19', '2019-06-26'],
              dtype='datetime64[ns]', freq='W-WED')

In [23]:
pd.date_range("2019", periods=12, freq="BM") ## Last business day of month

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-29', '2019-04-30',
               '2019-05-31', '2019-06-28', '2019-07-31', '2019-08-30',
               '2019-09-30', '2019-10-31', '2019-11-29', '2019-12-31'],
              dtype='datetime64[ns]', freq='BM')

In [24]:
pd.date_range(end="2019", periods=12, freq="M")  ## Last day of month

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31',
               '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31'],
              dtype='datetime64[ns]', freq='M')

### Duplicate Dates

In [25]:
grouped=positives.groupby(level=0)
grouped.count()

2016-01-27    1
2016-02-10    1
2016-02-16    1
2016-02-23    1
2016-03-26    1
2016-05-01    1
2016-05-10    1
2016-05-12    1
2016-05-13    1
2016-06-18    1
2016-06-20    1
2016-09-17    1
2016-09-21    1
2016-11-06    1
2016-11-16    1
2016-11-24    1
2017-01-01    1
2017-01-09    1
2017-01-19    1
2017-03-19    1
2017-04-20    1
2017-06-17    1
2017-07-11    1
2017-07-23    1
2017-08-25    1
2017-08-28    1
2017-09-01    1
2017-09-15    1
2017-09-20    1
2017-10-02    1
2017-11-02    1
2017-11-22    1
2018-01-02    1
2018-02-03    1
2018-02-09    1
2018-02-22    1
2018-02-28    1
2018-05-11    1
2018-05-21    1
2018-06-22    1
2018-06-25    1
2018-07-20    1
2018-07-21    1
2018-09-01    1
2018-09-13    1
2018-09-19    1
2018-09-25    1
2018-11-19    1
2018-11-26    1
2018-12-18    1
dtype: int64

### Date Offsets

In [26]:
from pandas.tseries.offsets import Minute, Hour

four_hr = Hour(2)

thirty_min = Minute(30)

four_hr + thirty_min

In [27]:
pd.date_range("3:00", periods=20, freq="1h30min")

DatetimeIndex(['2019-04-04 03:00:00', '2019-04-04 04:30:00',
               '2019-04-04 06:00:00', '2019-04-04 07:30:00',
               '2019-04-04 09:00:00', '2019-04-04 10:30:00',
               '2019-04-04 12:00:00', '2019-04-04 13:30:00',
               '2019-04-04 15:00:00', '2019-04-04 16:30:00',
               '2019-04-04 18:00:00', '2019-04-04 19:30:00',
               '2019-04-04 21:00:00', '2019-04-04 22:30:00',
               '2019-04-05 00:00:00', '2019-04-05 01:30:00',
               '2019-04-05 03:00:00', '2019-04-05 04:30:00',
               '2019-04-05 06:00:00', '2019-04-05 07:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [28]:
pd.date_range("4:40",periods=10, freq="WOM-3FRI", normalize=True) ## third friday of month

DatetimeIndex(['2019-04-19', '2019-05-17', '2019-06-21', '2019-07-19',
               '2019-08-16', '2019-09-20', '2019-10-18', '2019-11-15',
               '2019-12-20', '2020-01-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

### Shifting Series

In [29]:
dates = pd.date_range("0:00", periods=10)
prices = np.cumsum(np.random.rand(10))

data = pd.Series(prices, index=dates)
data

2019-04-04    0.092908
2019-04-05    0.457979
2019-04-06    0.848580
2019-04-07    1.837067
2019-04-08    2.033215
2019-04-09    2.352531
2019-04-10    2.581998
2019-04-11    2.994963
2019-04-12    3.905814
2019-04-13    4.246157
Freq: D, dtype: float64

In [30]:
yesterday_data = data.shift(1)
yesterday_data

2019-04-04         NaN
2019-04-05    0.092908
2019-04-06    0.457979
2019-04-07    0.848580
2019-04-08    1.837067
2019-04-09    2.033215
2019-04-10    2.352531
2019-04-11    2.581998
2019-04-12    2.994963
2019-04-13    3.905814
Freq: D, dtype: float64

In [31]:
data/yesterday_data - 1 ## Daily percent change

2019-04-04         NaN
2019-04-05    3.929409
2019-04-06    0.852880
2019-04-07    1.164872
2019-04-08    0.106772
2019-04-09    0.157050
2019-04-10    0.097540
2019-04-11    0.159940
2019-04-12    0.304127
2019-04-13    0.087138
Freq: D, dtype: float64

In [32]:
data.shift(3, "D") ## Shift data by 3 days

2019-04-07    0.092908
2019-04-08    0.457979
2019-04-09    0.848580
2019-04-10    1.837067
2019-04-11    2.033215
2019-04-12    2.352531
2019-04-13    2.581998
2019-04-14    2.994963
2019-04-15    3.905814
2019-04-16    4.246157
Freq: D, dtype: float64

### Date Offsets

In [43]:
from pandas.tseries.offsets import Day, MonthEnd
now = pd.datetime.now()
day_after_tomorrow = now + Day(2)
day_after_tomorrow

Timestamp('2019-04-06 22:08:13.481532')

In [44]:
now + MonthEnd()

Timestamp('2019-04-30 22:08:13.481532')

In [47]:
offset = MonthEnd()
offset.rollback(now)

Timestamp('2019-03-31 22:08:13.481532')

### Grouping data by month

In [55]:
grouped=positives.groupby(offset.rollforward)
grouped.count()

2016-01-31    1
2016-02-29    3
2016-03-31    1
2016-05-31    4
2016-06-30    2
2016-09-30    2
2016-11-30    3
2017-01-31    3
2017-03-31    1
2017-04-30    1
2017-06-30    1
2017-07-31    2
2017-08-31    2
2017-09-30    3
2017-10-31    1
2017-11-30    2
2018-01-31    1
2018-02-28    4
2018-05-31    2
2018-06-30    2
2018-07-31    2
2018-09-30    4
2018-11-30    2
2018-12-31    1
dtype: int64

In [56]:
positives.resample("M").count() ## have similar effect as grouping by month end

2016-01-31    1
2016-02-29    3
2016-03-31    1
2016-04-30    0
2016-05-31    4
2016-06-30    2
2016-07-31    0
2016-08-31    0
2016-09-30    2
2016-10-31    0
2016-11-30    3
2016-12-31    0
2017-01-31    3
2017-02-28    0
2017-03-31    1
2017-04-30    1
2017-05-31    0
2017-06-30    1
2017-07-31    2
2017-08-31    2
2017-09-30    3
2017-10-31    1
2017-11-30    2
2017-12-31    0
2018-01-31    1
2018-02-28    4
2018-03-31    0
2018-04-30    0
2018-05-31    2
2018-06-30    2
2018-07-31    2
2018-08-31    0
2018-09-30    4
2018-10-31    0
2018-11-30    2
2018-12-31    1
Freq: M, dtype: int64