In [1]:
import pandas as pd
jan_019=pd.Period("2019", "M")
apr_019=jan_019 + 3
apr_019

Period('2019-04', 'M')

In [2]:
apr_019 - jan_019

3

### Period Range

In [3]:
import numpy as np
period_range = pd.period_range("2010", "2019", freq="A-Jul")
rand = np.random.rand(len(period_range))
pd.Series(rand, index=period_range)

2010    0.964635
2011    0.763930
2012    0.923033
2013    0.772578
2014    0.936442
2015    0.671649
2016    0.491729
2017    0.237706
2018    0.581671
2019    0.091599
Freq: A-JUL, dtype: float64

### Frequency Conversion

In [4]:
## convert starting day of anual period to day period
period_range.asfreq("D", "Start")

PeriodIndex(['2009-08-01', '2010-08-01', '2011-08-01', '2012-08-01',
             '2013-08-01', '2014-08-01', '2015-08-01', '2016-08-01',
             '2017-08-01', '2018-08-01'],
            dtype='period[D]', freq='D')

In [5]:
## convert ending day of anual peroid to quater
period_range.asfreq("Q", how="end")

PeriodIndex(['2010Q3', '2011Q3', '2012Q3', '2013Q3', '2014Q3', '2015Q3',
             '2016Q3', '2017Q3', '2018Q3', '2019Q3'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [6]:
## change anual period ending on July to end on June and convert that to quater (last quater ending on dec by default)
period_range.asfreq("A-Jun").asfreq("Q")

PeriodIndex(['2011Q2', '2012Q2', '2013Q2', '2014Q2', '2015Q2', '2016Q2',
             '2017Q2', '2018Q2', '2019Q2', '2020Q2'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [7]:
## convert A-Jul period to quater (last quater ending on Jun)
period_range.asfreq("Q-Jun", "end")

PeriodIndex(['2011Q1', '2012Q1', '2013Q1', '2014Q1', '2015Q1', '2016Q1',
             '2017Q1', '2018Q1', '2019Q1', '2020Q1'],
            dtype='period[Q-JUN]', freq='Q-JUN')

In [9]:
## convert start of A-Jul period to Business day
period_range.asfreq("B", how="start")

PeriodIndex(['2009-08-03', '2010-08-02', '2011-08-01', '2012-08-01',
             '2013-08-01', '2014-08-01', '2015-08-03', '2016-08-01',
             '2017-08-01', '2018-08-01'],
            dtype='period[B]', freq='B')

### Custom Quater Period

In [10]:
july_019 = pd.Period("July-2019")
july_019.asfreq("A-Jun")

Period('2020', 'A-JUN')

In [11]:
q3=pd.Period("2019-1", freq="Q-Jun") ## Quater endind on Jun
q3

Period('2019Q3', 'Q-JUN')

In [12]:
q3.asfreq("D", "end")

Period('2019-03-31', 'D')

In [17]:
q2 = pd.Period("2019Q2")
last_bday_q2 = q2.asfreq("B", "e")
last_bday_q2

Period('2019-06-28', 'B')

In [14]:
second_last_bday_q2 = last_bday_q2-1
second_last_bday_q2.asfreq("T", 'e')

Period('2019-03-29 23:59', 'T')

### Timestamp to Period

In [35]:
date_range = pd.date_range("2018-05-26", periods=10, freq="M")
rng = pd.date_range("2018-08-26", periods=3, freq="W")
date_range = date_range.append(rng)
ts = pd.Series(np.random.rand(len(date_range)), index=date_range)
ts

2018-05-31    0.997021
2018-06-30    0.080074
2018-07-31    0.054977
2018-08-31    0.987060
2018-09-30    0.630005
2018-10-31    0.397727
2018-11-30    0.076151
2018-12-31    0.543896
2019-01-31    0.781364
2019-02-28    0.378443
2018-08-26    0.595793
2018-09-02    0.691418
2018-09-09    0.795304
dtype: float64

In [39]:
ts_period = ts.to_period("M")
ts_period

2018-05    0.997021
2018-06    0.080074
2018-07    0.054977
2018-08    0.987060
2018-09    0.630005
2018-10    0.397727
2018-11    0.076151
2018-12    0.543896
2019-01    0.781364
2019-02    0.378443
2018-08    0.595793
2018-09    0.691418
2018-09    0.795304
Freq: M, dtype: float64

In [42]:
ts_period.to_timestamp(freq="M")

2018-05-31    0.997021
2018-06-30    0.080074
2018-07-31    0.054977
2018-08-31    0.987060
2018-09-30    0.630005
2018-10-31    0.397727
2018-11-30    0.076151
2018-12-31    0.543896
2019-01-31    0.781364
2019-02-28    0.378443
2018-08-31    0.595793
2018-09-30    0.691418
2018-09-30    0.795304
dtype: float64

### Period Index From Series

In [48]:
macrodata = pd.read_csv("data/macrodata.csv")
macrodata.head()

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959,1,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959,2,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959,3,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959,4,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960,1,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [50]:
p_index = pd.PeriodIndex(year=macrodata.year, quarter=macrodata.quarter, freq="Q-Dec")
macrodata.index = p_index
macrodata.infl.head(10)

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
1960Q2    0.14
1960Q3    2.70
1960Q4    1.21
1961Q1   -0.40
1961Q2    1.47
Freq: Q-DEC, Name: infl, dtype: float64

### Resampling

In [52]:
macrodata.resample("A-Dec").mean().head(10)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
1959,1959.0,2.5,2762.46050,1736.650,296.58475,481.66450,1913.575,29.2125,140.475,3.5125,5.450,178.25475,1.3375,1.4725
1960,1960.0,2.5,2830.93175,1784.350,296.50325,468.42725,1964.000,29.6700,140.450,2.7075,5.575,181.12325,1.5900,1.1200
1961,1961.0,2.5,2896.87950,1821.175,294.58525,488.13275,2030.700,29.9375,143.575,2.3950,6.700,184.11225,0.6675,1.7250
1962,1962.0,2.5,3072.39000,1911.225,331.98050,529.69400,2129.625,30.3125,146.975,2.7900,5.550,186.93700,1.3225,1.4675
1963,1963.0,2.5,3206.70825,1989.875,354.27175,530.07525,2209.525,30.7150,151.825,3.2075,5.650,189.62950,1.6300,1.5825
1964,1964.0,2.5,3392.31475,2108.400,383.49125,523.11800,2368.700,31.0925,157.875,3.5675,5.175,192.24700,1.0925,2.4775
1965,1965.0,2.5,3610.12750,2241.775,437.30025,522.62600,2514.650,31.6225,165.050,4.0125,4.525,194.63700,1.9025,2.1125
1966,1966.0,2.5,3845.34200,2368.975,475.82650,580.50150,2647.275,32.6200,171.300,4.8750,3.800,196.87550,3.1500,1.7250
1967,1967.0,2.5,3942.52300,2439.925,454.06675,638.46250,2763.425,33.5750,179.550,4.3300,3.825,199.00925,3.5825,0.7475
1968,1968.0,2.5,4133.39275,2580.725,480.49600,643.71675,2889.350,35.0750,192.450,5.4350,3.525,200.99100,4.5850,0.8450