### Down Sampling

In [9]:
import pandas as pd
import numpy as np
minute_index = pd.date_range("17:00", periods=45, freq="min")
requests_min = pd.Series(np.random.choice(range(5), len(minute_index)), index=minute_index)
requests_min.head(10)

2019-04-06 17:00:00    0
2019-04-06 17:01:00    3
2019-04-06 17:02:00    4
2019-04-06 17:03:00    0
2019-04-06 17:04:00    0
2019-04-06 17:05:00    1
2019-04-06 17:06:00    3
2019-04-06 17:07:00    4
2019-04-06 17:08:00    4
2019-04-06 17:09:00    1
Freq: T, dtype: int64

In [24]:
requests_5min = requests_min.resample("5min", closed="right", label="right").sum()
requests_5min

2019-04-06 17:00:00     0
2019-04-06 17:05:00     8
2019-04-06 17:10:00    16
2019-04-06 17:15:00     3
2019-04-06 17:20:00    10
2019-04-06 17:25:00    11
2019-04-06 17:30:00    11
2019-04-06 17:35:00     7
2019-04-06 17:40:00    11
2019-04-06 17:45:00    14
Freq: 5T, dtype: int64

In [18]:
requests_min.resample("5min").ohlc()

                     open  high  low  close
2019-04-06 17:00:00     0     4    0      0
2019-04-06 17:05:00     1     4    1      1
2019-04-06 17:10:00     4     4    0      1
2019-04-06 17:15:00     0     4    0      1
2019-04-06 17:20:00     3     4    0      3
2019-04-06 17:25:00     3     4    1      4
2019-04-06 17:30:00     2     4    0      0
2019-04-06 17:35:00     0     3    0      2
2019-04-06 17:40:00     3     4    3      3

### Up Sampling

In [27]:
requests_5min.resample("min").asfreq().head(10) ## it is same as requests_5min.asfreq("min")

2019-04-06 17:00:00    0.0
2019-04-06 17:01:00    NaN
2019-04-06 17:02:00    NaN
2019-04-06 17:03:00    NaN
2019-04-06 17:04:00    NaN
2019-04-06 17:05:00    8.0
2019-04-06 17:06:00    NaN
2019-04-06 17:07:00    NaN
2019-04-06 17:08:00    NaN
2019-04-06 17:09:00    NaN
Freq: T, dtype: float64

In [33]:
requests_5min.resample("min").ffill().head(10)

2019-04-06 17:00:00    0
2019-04-06 17:01:00    0
2019-04-06 17:02:00    0
2019-04-06 17:03:00    0
2019-04-06 17:04:00    0
2019-04-06 17:05:00    8
2019-04-06 17:06:00    8
2019-04-06 17:07:00    8
2019-04-06 17:08:00    8
2019-04-06 17:09:00    8
Freq: T, dtype: int64

In [34]:
requests_5min.resample("min").ffill(limit=2).head(10)

2019-04-06 17:00:00    0.0
2019-04-06 17:01:00    0.0
2019-04-06 17:02:00    0.0
2019-04-06 17:03:00    NaN
2019-04-06 17:04:00    NaN
2019-04-06 17:05:00    8.0
2019-04-06 17:06:00    8.0
2019-04-06 17:07:00    8.0
2019-04-06 17:08:00    NaN
2019-04-06 17:09:00    NaN
Freq: T, dtype: float64