In [21]:
import pandas_datareader.data as pdata
from pandas import DataFrame

all_data = {ticker: pdata.get_data_yahoo(ticker) for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

price = DataFrame({ticker: data['Adj Close'] for ticker, data in all_data.items()})
volume = DataFrame({ticker: data['Volume'] for ticker, data in all_data.items()})

returns = price.pct_change()
display(returns.head())

display("correlation 'AAPL', 'IBM'", returns['AAPL'].corr(returns['IBM']))
display("correlation 'AAPL', 'GOOG'", returns['AAPL'].corr(returns['GOOG']))

display("correlation matrix", returns.corr())
display("covariance matrix", returns.cov())

                AAPL       IBM      MSFT      GOOG
Date
2009-12-31       NaN       NaN       NaN       NaN
2010-01-04  0.015565  0.011841  0.015420  0.010920
2010-01-05  0.001729 -0.012080  0.000323 -0.004404
2010-01-06 -0.015906 -0.006496 -0.006137 -0.025209
2010-01-07 -0.001849 -0.003462 -0.010400 -0.023279

"correlation 'AAPL', 'IBM'"

0.3716954216874646

"correlation 'AAPL', 'GOOG'"

0.456711836117188

'correlation matrix'

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.371695  0.449642  0.456712
IBM   0.371695  1.000000  0.486564  0.408341
MSFT  0.449642  0.486564  1.000000  0.537625
GOOG  0.456712  0.408341  0.537625  1.000000

'covariance matrix'

          AAPL       IBM      MSFT      GOOG
AAPL  0.000272  0.000076  0.000108  0.000116
IBM   0.000076  0.000153  0.000088  0.000078
MSFT  0.000108  0.000088  0.000212  0.000121
GOOG  0.000116  0.000078  0.000121  0.000239

In [37]:


display(returns.corrwith(returns['GOOG']))
display(returns.corrwith(volume))

AAPL    0.456712
IBM     0.408341
MSFT    0.537625
GOOG    1.000000
dtype: float64

AAPL   -0.059283
IBM    -0.153066
MSFT   -0.088843
GOOG   -0.017346
dtype: float64