## Dataframe
Dataframes are data structure with indexed rows and columns. It can be thought as 2D Series

## Creating Dataframe

### From 2D array

In [44]:
from pandas import DataFrame, Series
import numpy as np
arr = np.random.randn(10,5)
DataFrame(arr)

          0         1         2         3         4
0  0.603002  0.741707 -0.276564 -0.581838 -0.257783
1  2.211070 -1.274745  1.086145 -0.769828  0.136627
2  0.690047  0.436750  0.224387 -1.815076 -1.068890
3 -0.920285 -0.122257  0.990006  2.109490  0.541900
4  0.484474  0.033750 -0.516988 -0.691979 -1.336125
5 -0.446374  0.147077 -0.967344  0.030709 -0.403202
6 -0.278135 -1.266801  0.616471 -0.048048 -0.371570
7 -1.570674  0.440527 -0.062696  1.314645  0.273305
8  0.713400 -0.593786 -1.086978  0.832181  1.846925
9  1.509472 -0.730016  0.512553  0.697107  0.127468

### From Dictionary of List Like Object

In [38]:
## Key of dictionary is used as column index and 
## values are used as values for corresponding column. Row index list can be passed else
## 0 to n-1 will be used as index
students = {
            'id': [1,2,3,4,5],
            'name':['John', 'Jill', 'Harry', 'Petter', 'Tom'],
            'score': [2.9, 3.2, 3.7, 1.8, 2.2]
           }
df_students = DataFrame(students, students['name'])
df_students.columns.name= 'Column Name'
df_students.index.name='Row Name'

print(df_students, '\n\n')

Column Name  id    name  score
Row Name
John          1    John    2.9
Jill          2    Jill    3.2
Harry         3   Harry    3.7
Petter        4  Petter    1.8
Tom           5     Tom    2.2

### From dictionary of Series

In [40]:
## From dictionary of Series
## Dict key will be used as column index
## values of series is used as column
## index of series is used as row index
ids = Series(students['id'], students['name'])
scores = Series(students['score'], students['name'])
series_dict = {'id': ids, 'score': scores, 'name': students['name']}
df_students = DataFrame(series_dict)
print(df_students, '\n\n')

        id  score    name
John     1    2.9    John
Jill     2    3.2    Jill
Harry    3    3.7   Harry
Petter   4    1.8  Petter
Tom      5    2.2     Tom

### From List of Series

In [41]:
df_students = DataFrame([scores, ids])
print(df_students, '\n\n')

   John  Jill  Harry  Petter  Tom
0   2.9   3.2    3.7     1.8  2.2
1   1.0   2.0    3.0     4.0  5.0

### From Nested Dictionary

In [49]:
## Dict key will be used as column index
## Key of inner dict is used as row index
## Value of inner index is used as row values
students2 = {
    'John': {'id':1, 'score': 2.9},
    'Jill': {'id':2, 'score': 3.2},
    'Harry': {'id':3, 'score': 3.7},
    'Petter': {'id':4, 'score': 1.8},
    'Tom': {'id':5, 'score': 2.2},
}
df_students = DataFrame(students2)
print(df_students)
print('Transpose\n', df_students.T)

       John  Jill  Harry  Petter  Tom
id      1.0   2.0    3.0     4.0  5.0
score   2.9   3.2    3.7     1.8  2.2
Transpose
          id  score
John    1.0    2.9
Jill    2.0    3.2
Harry   3.0    3.7
Petter  4.0    1.8
Tom     5.0    2.2

### Access Data

In [78]:
df_students = DataFrame(students, students['name'])

print('Get data by column index')
print(df_students['score'])

Get data by column index
John      2.9
Jill      3.2
Harry     3.7
Petter    1.8
Tom       2.2
Name: score, dtype: float64

In [79]:
print('Get column using dot notation')
print(df_students.score)

Get column using dot notation
John      2.9
Jill      3.2
Harry     3.7
Petter    1.8
Tom       2.2
Name: score, dtype: float64

In [80]:
print('Get score of John')
print(df_students['score']['John'])

Get score of John
2.9

In [81]:
print('Multiple columns')
print(df_students[['score', 'id']])

Multiple columns
        score  id
John      2.9   1
Jill      3.2   2
Harry     3.7   3
Petter    1.8   4
Tom       2.2   5

In [82]:
print('Get Row')
print(df_students.loc['Jill'])

Get Row
id          2
name     Jill
score     3.2
Name: Jill, dtype: object

In [83]:
print('Add New Column')
df_students['age'] = [20, 19, 19, 18, 21]
print(df_students)

Add New Column
        id    name  score  age
John     1    John    2.9   20
Jill     2    Jill    3.2   19
Harry    3   Harry    3.7   19
Petter   4  Petter    1.8   18
Tom      5     Tom    2.2   21

In [84]:
print('Delete Column')
del df_students['age']
print(df_students)

Delete Column
        id    name  score
John     1    John    2.9
Jill     2    Jill    3.2
Harry    3   Harry    3.7
Petter   4  Petter    1.8
Tom      5     Tom    2.2

### Index Object

In [93]:
from pandas import Index
index = df_students.index
index2 = index.append(Index(['Hari', 'Shyam', 'Hari']))
print(index)
print(index2)
print('is index unique?', index.is_unique)
print('is index2 unique?', index2.is_unique)
print('Difference index2, index', index2.difference(index))

Index(['John', 'Jill', 'Harry', 'Petter', 'Tom'], dtype='object')
Index(['John', 'Jill', 'Harry', 'Petter', 'Tom', 'Hari', 'Shyam', 'Hari'], dtype='object')
is index unique? True
is index2 unique? False
Difference index2, index Index(['Hari', 'Shyam'], dtype='object')