### Create Temperature Data

In [42]:
import numpy as np
import pandas as pd
from datetime import date, timedelta

n = 12
# random temperature with mean 22 and std 15
tempreture = np.random.randn(n)*15 + 22

# past 20 days date
dates = pd.Series(list(enumerate([date.today()]*n)))
dates.map(lambda val: val[1] + timedelta(days=-val[0]))

temp_centigrade = pd.DataFrame({"dates":dates, "temps":tempreture})

temp_centigrade

               dates      temps
0    (0, 2019-03-02)   9.300245
1    (1, 2019-03-02)   6.606688
2    (2, 2019-03-02)  12.023016
3    (3, 2019-03-02)   7.801142
4    (4, 2019-03-02)  22.970769
5    (5, 2019-03-02)  11.982230
6    (6, 2019-03-02)  36.065650
7    (7, 2019-03-02)  34.416239
8    (8, 2019-03-02)  20.122034
9    (9, 2019-03-02)  38.470097
10  (10, 2019-03-02)  23.190935
11  (11, 2019-03-02)  34.357141

### Convert Temperature

In [43]:
temp_fahrenheit = temp_centigrade["temps"].map(lambda temp: temp*9/5+32)

temp_fahrenheit

0      40.837559
1      70.168066
2      44.783342
3      60.799736
4      65.613145
5      58.908015
6      61.485418
7      76.496406
8     130.148266
9     105.897024
10    162.836376
11     39.707110
12     57.312435
13     44.423288
14     73.282960
15     24.084498
16     39.040223
17     93.694643
18    108.485233
19    103.838714
Name: temps, dtype: float64

### Replace Negetive Temp