In [1]:
import pytz
import pandas as pd
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [2]:
import numpy as np
tz_ktm = pytz.timezone("Asia/Kathmandu")
periods = pd.date_range("0:00", "19:00", freq="1H30min")

rand = np.random.randn(len(periods))

ts = pd.Series(rand, index=periods)
ts

2019-04-05 00:00:00    0.609214
2019-04-05 01:30:00    1.915918
2019-04-05 03:00:00    0.775347
2019-04-05 04:30:00   -0.717882
2019-04-05 06:00:00   -0.602813
2019-04-05 07:30:00    0.010526
2019-04-05 09:00:00    1.655063
2019-04-05 10:30:00    0.935983
2019-04-05 12:00:00   -0.579434
2019-04-05 13:30:00   -2.162209
2019-04-05 15:00:00    0.701765
2019-04-05 16:30:00   -1.600704
2019-04-05 18:00:00    0.393010
Freq: 90T, dtype: float64

In [3]:
ts_ktm = ts.tz_localize("Asia/Kathmandu")
ts_ktm

2019-04-05 00:00:00+05:45    0.609214
2019-04-05 01:30:00+05:45    1.915918
2019-04-05 03:00:00+05:45    0.775347
2019-04-05 04:30:00+05:45   -0.717882
2019-04-05 06:00:00+05:45   -0.602813
2019-04-05 07:30:00+05:45    0.010526
2019-04-05 09:00:00+05:45    1.655063
2019-04-05 10:30:00+05:45    0.935983
2019-04-05 12:00:00+05:45   -0.579434
2019-04-05 13:30:00+05:45   -2.162209
2019-04-05 15:00:00+05:45    0.701765
2019-04-05 16:30:00+05:45   -1.600704
2019-04-05 18:00:00+05:45    0.393010
Freq: 90T, dtype: float64

In [4]:
ts_india = ts_ktm.tz_convert("Asia/Calcutta")
ts_india

2019-04-04 23:45:00+05:30    0.609214
2019-04-05 01:15:00+05:30    1.915918
2019-04-05 02:45:00+05:30    0.775347
2019-04-05 04:15:00+05:30   -0.717882
2019-04-05 05:45:00+05:30   -0.602813
2019-04-05 07:15:00+05:30    0.010526
2019-04-05 08:45:00+05:30    1.655063
2019-04-05 10:15:00+05:30    0.935983
2019-04-05 11:45:00+05:30   -0.579434
2019-04-05 13:15:00+05:30   -2.162209
2019-04-05 14:45:00+05:30    0.701765
2019-04-05 16:15:00+05:30   -1.600704
2019-04-05 17:45:00+05:30    0.393010
Freq: 90T, dtype: float64

### Arithmetic With Different Timezone Index

In [34]:
ts_ktm + ts_india ##Timezone converted to UTC

2019-04-04 18:15:00+00:00    1.218427
2019-04-04 19:45:00+00:00    3.831837
2019-04-04 21:15:00+00:00    1.550694
2019-04-04 22:45:00+00:00   -1.435763
2019-04-05 00:15:00+00:00   -1.205626
2019-04-05 01:45:00+00:00    0.021052
2019-04-05 03:15:00+00:00    3.310126
2019-04-05 04:45:00+00:00    1.871965
2019-04-05 06:15:00+00:00   -1.158868
2019-04-05 07:45:00+00:00   -4.324418
2019-04-05 09:15:00+00:00    1.403530
2019-04-05 10:45:00+00:00   -3.201407
2019-04-05 12:15:00+00:00    0.786020
Freq: 90T, dtype: float64

In [5]:
## date_range also takes tz parameter
pd.date_range("0:00", "19:00", freq="1H30min", tz="Asia/Kathmandu")

DatetimeIndex(['2019-04-05 00:00:00+05:45', '2019-04-05 01:30:00+05:45',
               '2019-04-05 03:00:00+05:45', '2019-04-05 04:30:00+05:45',
               '2019-04-05 06:00:00+05:45', '2019-04-05 07:30:00+05:45',
               '2019-04-05 09:00:00+05:45', '2019-04-05 10:30:00+05:45',
               '2019-04-05 12:00:00+05:45', '2019-04-05 13:30:00+05:45',
               '2019-04-05 15:00:00+05:45', '2019-04-05 16:30:00+05:45',
               '2019-04-05 18:00:00+05:45'],
              dtype='datetime64[ns, Asia/Kathmandu]', freq='90T')

### Timestamp

In [18]:
from datetime import datetime
now = pd.Timestamp(datetime.now(), tz="Asia/Kathmandu")
now.tz_convert('Europe/Helsinki')

Timestamp('2019-04-05 17:48:13.594290+0300', tz='Europe/Helsinki')

### Daylight Saving Time

In [22]:
from pandas.tseries.offsets import Hour
dst_start = pd.Timestamp("2019-03-31 2:30", tz="Europe/Helsinki") ## DST start at 3am which becomes 4am so 3am time doesn't exists
dst_start + Hour()

Timestamp('2019-03-31 04:30:00+0300', tz='Europe/Helsinki')

In [32]:
dst_end = pd.Timestamp("2019-10-27 2:30", tz="Europe/Helsinki") ## DST end at 4am which again become 3am
dst_end + 2*Hour()

Timestamp('2019-10-27 03:30:00+0200', tz='Europe/Helsinki')